Experiment 1 : Introduction to python

Name : Vivek Reddy

PRN : 25070123135

In [47]:
a,b,c = "APPLE","CHERRY","ORANGE"
print(a,b,c,sep="\n")

x,y,z,w = 2,2.23,"VIVEK",True
print(type(x),type(y),type(z),type(w),sep="\n")

a,b = 10,5
print("SUM",a+b)
print("SUB",a-b)
print("MULT",a*b)
print("DIV",a/b)
print("EXP",a**b)

APPLE
CHERRY
ORANGE
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
SUM 15
SUB 5
MULT 50
DIV 2.0
EXP 100000

In [51]:
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))

print("\nSUM =",a+b,"\nSUB =",a-b,"\nMULT =",a*b,"\nDIV =",a/b,"\nEXP =",a**b)

Enter the value of a:8
Enter the value of b:9

SUM = 17
SUB = -1
MULT = 72
DIV = 0.8888888888888888
EXP = 134217728

In [55]:
import math
pi = math.pi

r=float(input("Enter the radius of circle:"))
area = pi*r*r
print("Area of circle =",area)

Enter the radius of circle:6
Area of circle = 113.09733552923255

In [61]:
import math

a = math.log10(10)
print(a)

1.0

In [84]:
a,b = 10,5

if(a>b) :
    print("b is less than a")
    print("b is more than a")

b is less than a
b is more than a